<mat-toolbar fxLayoutAlign="space-between center" color="primary">

  <!-- Left content -->
  <div fxLayout fxLayoutAlign="center center">
    <button mat-icon-button fxShow.xs fxHide>
      <mat-icon (click)="onSidenavToggle()">menu</mat-icon>
    </button>
    <span>The Movies App</span>
  </div>

  <!-- Right content -->
  <div fxShow fxHide.xs>
    <button mat-button>
      <span>Home</span>
    </button>
    <button mat-button>
      <span>Top 5 Movies</span>
    </button>
    <button mat-raised-button (click)="openAddMovieDialog()">
      <mat-icon>add</mat-icon>
      <span>Add Movie</span>
    </button>
  </div>

</mat-toolbar>
