@import '../../../../styles/_placeholders.scss';
@import '../../../../styles/_variables.scss';

.card {
  @extend %card-size;
  width: 250px;
  height: auto;
  img {
    cursor: pointer;
  }
  mat-card-header {
    button {
      &:hover {
        background-color: $hover-primary;
      }
    }
  }
  
  &:hover {
    @extend %mouse-hover;
  }
}


