<mat-sidenav-container autosize="true">

  <mat-sidenav 
    class="mat-elevation-z10"
    opened="false"
    role="navigation"
    #sidenav
    [mode]="'side'">

    <mat-list role="list" fxLayout="column">
      <mat-list-item role="listitem">Home</mat-list-item>
      <mat-list-item role="listitem">Add Movie</mat-list-item>
      <mat-list-item role="listitem">Top 5 Movies</mat-list-item>
    </mat-list>

  </mat-sidenav>

  <!-- Content area -->
  <mat-sidenav-content fxLayout="column">
    <app-toolbar (sidenavToggle)="sidenav.toggle()"></app-toolbar>
    <section class="wrapper">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>

</mat-sidenav-container>
