<mat-sidenav-container autosize="true">

  <mat-sidenav 
    class="mat-elevation-z10"
    opened="false"
    role="navigation"
    #sidenav
    [mode]="'side'">

    <app-side-navigation (sidenavToggle)="sidenav.toggle()"></app-side-navigation>

  </mat-sidenav>

  <!-- Content area -->
  <mat-sidenav-content fxLayout="column">
    <app-toolbar (sidenavToggle)="sidenav.toggle()"></app-toolbar>
    <section class="wrapper">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>

</mat-sidenav-container>
